
/* Form Styles */
.Alert
{
	FONT-WEIGHT: bold;
	COLOR: red;
}
/* Contact and other Form styles */

.CT
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
	text-align: left;
}


.CTtableout { BACKGROUND-COLOR: #FFFFFF; }
.CTtablein { }

.CTtitle
{
	FONT: bold 11pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.CTsubtitle
{
	FONT: bold 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.CTheader
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #f1f1e2;
}

.CTodd
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
	text-align: left;
}

.CTeven
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
	text-align: left;
}

.CDtableout { BACKGROUND-COLOR: gray; }
.CDtablein { }

.CDtitle
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #dddddd;
}

.CDheader
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #eeeeee;
}

.CDodd
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.CDeven
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.CDctitle { FONT: bold 10pt Geneva, Arial, Helvetica, sans-serif; }
.CDcsubtitle { FONT: bold 9pt Geneva, Arial, Helvetica, sans-serif; }
.CDcauthor { FONT: italic 9pt Geneva, Arial, Helvetica, sans-serif; }
.Cdctime { FONT: 8pt Geneva, Arial, Helvetica, sans-serif; }
.CDcdate { FONT: 8pt Geneva, Arial, Helvetica, sans-serif; }
.CFdirectory { FONT: 10pt Arial, Helvetica, sans-serif; }
.CFtitle { FONT: bold 9pt Arial, Helvetica, sans-serif; }
.CFtext { FONT: 9pt Arial, Helvetica, sans-serif; }
.FCtableout { BACKGROUND-COLOR: gray; }
.FCtablein { }

.FClabel
{
	FONT: bold 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #eeeeee;
}

.FCfn
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.FCfnreq
{
	FONT: bold 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.FCfnerr
{
	FONT: bold 9pt Arial, Helvetica, sans-serif;
	COLOR: #ff0000;
	BACKGROUND-COLOR: #ffffff;
}

.FCfh {
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.FCin
{
	FONT: 9pt Arial, Helvetica, sans-serif;
	BACKGROUND-COLOR: #ffffff;
}

.LKleft { padding-right: 20px; }

.LKmid
{
	border-left-color: Gray;
	border-left-width: thin;
	border-left-style: solid;
	padding-left: 20px;
	padding-right: 20px;
}

.LKmid2
{
	border-left-color: Gray;
	border-left-width: thin;
	border-left-style: solid;
	padding-left: 20px;
	padding-right: 20px;
}

.LKright
{
	border-left-color: Gray;
	border-left-width: thin;
	border-left-style: solid;
	padding-left: 20px;
	padding-right: 20px;
}

.LKl1
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px;
	
	TEXT-DECORATION: none;
}

.LKl2
{
	FONT-SIZE: 12px;
	
	TEXT-DECORATION: none;
}

.LKl3
{
	FONT-SIZE: 10px;
	
	TEXT-DECORATION: none;
}

.LKd1 { }
.LKd2 { TEXT-INDENT: 20px; }
.LKd3 { TEXT-INDENT: 40px; }

/* List index styles */
.NL { }
.NLtoctitle {  }
.NLtoc { }

.NLtocdiv
{
}

.NLtochr { COLOR: gray; }
.NLtitle { }
.NLsubtitle {}
.NLauthor { }
.NLsummary { }
.NLcopyright { }
.NLdate {  }

.NLdiv {  }

#remove_br br{
line-height:4px;
}

/* Photo gallery */

/* Search Styles */
*html #pg_search { margin-bottom: 0px;} /* Fixes IE */
#pg_container form { margin: 0px;}
#pg_container fieldset { margin: 0px; padding: 10px;}
#pg_container fieldset label {display:block; padding-top:5px;}
#pg_search label, #pg_search select, #pg_search input { margin-top: 5px; float: left;  }
#pg_search span#Label_Warning {display:block; padding:5px}

#pg_search a:link, #pg_search a:visited { display:block; float:right; text-align: center; width: 60px; margin:5px 1px; ont-family: myriad, arial, verdana; text-transform:uppercase; color: #fff; text-decoration: none; padding:2px; background-color: #db7520; border: 1px #c28e5f solid;}

#pg_search a:hover { background-color: #ec8e41;}

#pg_searchtext, #pg_searchfield {margin:0px 5px}
#pg_searchtext { margin-left:10px; }

#pg_container {width:100%}
#pg_search {width:65%; padding:10px; margin-bottom:5px}
#pg_count {width:500px; text-align: center; padding:0px; margin:0px}
#pg_sort {text-align:left; width:60%; padding:0px; margin-bottom:0}
#pg_container fieldset { border:1px solid #ccc; margin: 0px; padding: 10px;}
.pg_display img { border: 0px;}

#pg_top_navigation {width:500px; text-align: center; height: auto; margin-top:0px; padding-top:0px;}
#pg_bottom_navigation {clear:both; text-align: left; width:400px;}
#pg_bottom_navigation a:link, #pg_bottom_navigation a:visited { color:#5575A1; text-align: left; width: 75px; text-decoration: none; height: 12px; margin-top: 5px; margin-left: 1px; margin-right: 1px; padding: 3px 3px 3px 0px; background:transparent; border: 0;}
#pg_bottom_navigation a:hover { background:transparent;}
.pg_next span, #pg_slide span {border-left:1px solid #000; padding-left:5px}
#backtosearch {font-family: arial, verdana; font-size: 10px; border-left:1px solid #000; padding-left:5px; margin:-17px 0 0 183px; _margin:-32px 0 0 183px}
#backtosearch2 {font-family: arial, verdana; font-size: 10px; border-left:1px solid #000; float:left; padding-left:3px; margin-left:3px;}

/* Thumbnails page */
div.pg_row {clear:both; margin-bottom:5px}
#pg_container { font-family: arial, verdana; font-size: 10px; margin:0 auto; text-align:left; width: 100%;}
#pg_container #pg_summary ul {margin: 0px 10px 0px 0px; _margin: 0px 5px 0px 0px;}
#pg_container #pg_summary li { margin:0px; padding:0px;}
#pg_container .pg_display { text-align: center; }
#pg_container .pg_display a, .pg_display a:visited { width: 100%; height: 125px; overflow:hidden; display: block; padding:5px;}
#pg_container .pg_display a:hover {background-color: #CCC; border: 1px #CCC solid; display: block;}
#pg_container #pg_slide {float:left}
#pg_container #pg_top_navigation {clear:both}
#pg_container #pg_top_navigation a:link, #pg_container #pg_top_navigation a:visited, #pg_bottom_navigation a:link, #pg_bottom_navigation a:visited { display: inherit; width: auto; margin:0; padding: 0 3px; background-color:transparent; border: none;}
#pg_container #pg_top_navigation a:hover, #pg_bottom_navigation a:hover { background-color:transparent; text-decoration:underline}
#pg_container #pg_bottom_navigation { float:left; width:auto; margin-top:15px}
#pg_container #pg_slide { clear: none; margin-top:15px; float: left; padding: 0 5px;}

/* Detail Styles umc */
#pg_summary {margin-bottom:30px}
#pg_summary ul {width:auto; text-align:left}
#pg_details_container #pg_summary .pg_display img { padding: 3px; background-color: #EEE; border: 1px #CCC solid}
#pg_details_container { font-family: arial, verdana; font-size: 10px; margin:0px; padding: 5px; width: 600px; text-align:left}
#pg_backthumb {text-align:left; float:left; clear:none; padding:10px 5px 10px 0px; margin:0px}
#pg_details_container #pg_bottom_navigation { clear:none; float:left; padding:10px 0px;}
#pg_details_container .pg_previous span {border-left:1px solid #000; padding-left:8px}
#pg_details_container #pg_summary { margin-bottom: 5px;clear:both;text-align:left;}
#pg_details_container .pg_display {text-align:left}
#pg_details_container #pg_top_navigation, #pg_details_container #pg_count {display:none}


/*Inline Listings */
#icl_container ul {margin:0px; padding:0px}
li.icl_title {padding-bottom:8px}


#PhotoGallerySplash .Row {
	margin: 10px 0;
}

#PhotoGallerySplash label {
	float:left;
	width:65px;
	font-weight:bold;
	padding-top:5px
}

#PhotoGallerySplash .Row input{
	font-size: 10px;
	width: 401px;
	height:18px;
	margin-right: 2px;
	border: 1px solid #6F99C1;

}

#PhotoGallerySplash select{
     font-size: 10px;
	width: 405px;
	height:18px;
	margin-right: 2px;
	border: 1px solid #6F99C1;
}

#PhotoGallerySplash select.SelectDate{
    font-size: 10px;
	width: 150px;
	height:18px;
	margin-right: 2px;
	border: 1px solid #6F99C1;
}

#PhotoGallerySplash #PhotoCallery {
  padding:0px 20px 10px 20px;
  margin:0;
}

#PhotoGallerySplash #PhotoCallery {
  padding:0px 20px 10px 20px;
  margin:0;
}


/*
#pg_search label, #pg_search input, #pg_search select{
margin:0;
}
#pg_search label {
margin-top:5px;
}

#pg_search input{
height:20px;
margin:-8px 5px 0 5px;
}

#pg_search select {
height:24px;
margin:-8px 5px 0 5px;
}
#pg_search fieldset {
padding:10px;
}
*/
/* Welcome Center */

body.welcome {}
#welcomelogo {float:left; padding-top:3px; height:23px; border-right:1px solid #fff; background: #337300}
#welcomheader {width: 100%; background: #337300; height: 45px; padding:5px 0px 0px 15px}
#welcometitle {color:#fff; font:bold 12px Arial, Helvetica, sans-serif; text-transform:uppercase}
#welcometitle span {color:#fff; font:bold 20px Arial, Helvetica, sans-serif; text-transform: none}
#welcombanner {}

#pg_search #LinkButtonShowAll { display:none; }
#pg_search fieldset { width:425px; }
.pg_previous span, .pg_next span  {color:#5575A1;}
